<template>
  <div id="nav">
    <router-link to="/profile">
      <a-button icon="user">profile</a-button>
    </router-link>
    <router-link to="/schedule">
      <a-button icon="calendar">schedule</a-button>
    </router-link>
    <router-link to="/practice">
      <a-button icon="laptop">practice</a-button>
    </router-link>
    <router-link to="/video">
      <a-button icon="video-camera">video chat</a-button>
    </router-link>
  </div>
</template>

<style>
  #nav {
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-around;
  }
  #nav a,
  #nav button {
    height: 50vh;
    display: flex;
    font-size: 45px;
    flex-wrap: wrap;
    min-width: 20vw;
    max-width: 20vw;
    min-height: 50vh;
    max-height: 50vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  #nav a i,
  #nav button i {
    width: 100%;
    font-size: 25vh;
  }
  @media only screen and (max-width:1394px) {
    #nav {
      flex-wrap: wrap;
      justify-content: center;
    }
    #nav a,
    #nav button {
      width: 95vw;
      height: 20vh;
      min-width: 95vw;
      max-width: 95vw;
      min-height: 20vh;
      max-height: 20vh;
      justify-content: space-between;
    }
    #nav a i,
    #nav button i {
      width: 15vh;
      height: 15vh;
      font-size: 15vh;
    }
  }
</style>
