<template>
  <div class="practice">
    <Lesson/>
    <Output/>
    <TextEditor/>
  </div>
</template>

<style>
div.practice {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
div.practice .lesson,
div.practice .output,
div.practice .texteditor {
  width: 45%;
  display: flex;
  min-width: 45%;
  max-width: 45%;
  align-items: center;
  justify-content: space-around;
}
div.practice .lesson,
div.practice .output {
  height: 45%;
  min-height: 45%;
  max-height: 45%;
}
div.practice .texteditor {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
</style>

<script>
import {
  Vue,
  Component
} from 'vue-property-decorator'
import Lesson from '@/components/practice/Lesson.vue'
import Output from '@/components/practice/Output.vue'
import TextEditor from '@/components/practice/TextEditor.vue'

@Component({
  components: {
    Lesson,
    Output,
    TextEditor
  }
})

export default class Practice extends Vue {}
</script>
