<template>
  <div class="profile">
    <div class="info">
      <ProForm/>
    </div>
  </div>
</template>

<style>
  .profile {
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .profile .info {
    width: 70vw;
    height: 60vh;
    min-width: 70vw;
    max-width: 70vw;
    overflow: hidden;
    min-height: 60vh;
    max-height: 60vh;
    border: 10px black solid;
  }
  .profile .info form {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
  }
  .profile .info form .basic {
    width: 100%;
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    min-height: 10vh;
    align-items: flex-end;
    justify-content: space-between;
  }
  .profile .info form .not-basic,
  .profile .info form .not-basic button,
  .profile .info form .basic input.ant-input,
  .profile .info form .not-basic input.ant-input,
  .profile .info form .not-basic span.ant-input-affix-wrapper,
  .profile .info form .basic .name span.ant-input-affix-wrapper {
    width: 100%;
    height: 8vh;
    font-size: 4vh;
    min-width: 100%;
  }
  .profile .info form .basic .name {
    height: 8vh;
    font-size: 4vh;
    width: calc(100% - 140px);
    min-width: calc(100% - 140px);
  }
  .avatar-uploader > .ant-upload,
  .ant-upload.ant-upload-select-picture-card>.ant-upload,
  .ant-upload.ant-upload-select-picture-card>.ant-upload img {
    margin: 0;
    height: 10vh;
    max-height: 10vh;
    overflow: hidden;
  }
  .ant-upload-select-picture-card i {
    color: #999;
    font-size: 2vh;
  }
  .ant-upload-select-picture-card .ant-upload-text {
    color: #666;
    margin-top: 8px;
  }
  .profile .info form input.ant-input span i {
    color: rgba(0,0,0,.25);
  }
  .location {
    color: #1890ff;
    cursor: pointer;
  }
  .location:hover {
    color: #40a9ff;
  }
  .location:active {
    color: #096dd9;
  }
  @media only screen and (max-width: 1110px) {
    .profile .info {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      min-width: calc(100% - 40px);
      max-width: calc(100% - 40px);
      min-height: calc(100% - 40px);
      max-height: calc(100% - 40px);
    }
  }
</style>

<script>
import {
  Vue,
  Component
} from 'vue-property-decorator'
import ProForm from '@/components/ProForm.vue'

@Component({
  components: {
    ProForm
  }
})

export default class Profile extends Vue {}
</script>
