<template>
  <div class="video">
   <iframe
    class="video"
    scrolling="no"
    src="https://meet.jit.si"
    allow="camera; microphone"
    sandbox="allow-scripts allow-same-origin"
   ></iframe>
  </div>
</template>

<style>
div.video,
div.video iframe.video{
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}
</style>
