<template>
  <a-button
     id='logout'
     type='primary'
     icon='logout'
     shape='circle'
     @click='logout'
  ></a-button>
</template>

<script>
export default {
  el: '#logout',
  methods: {
    logout: (event) => {
      let id = document.cookie.substring(
        document.cookie.indexOf('id=')
      ); if (id.indexOf(';') !== -1) {
        id = id.substring(0, id.indexOf(';'))
      } id = id.substring(id.indexOf('=') + 1)

      let login = document.cookie.substring(
        document.cookie.indexOf('login=')
      ); if (login.indexOf(';') !== -1) {
        login = login.substring(0, login.indexOf(';'))
      } login = login.substring(login.indexOf('=') + 1)

      if (!id || !login) {
        window.location.href = 'https://anagabriel.me/login'
      } else fetch(`https://anagabriel.me/cred/${id}/${login}`, {
        method: 'delete'
      }).then(res => res.json())
       .then(res => {
          if (!res.success) {
            return console.log(res.result)
          } window.location.href = 'https://anagabriel.me'
        }).catch(() => console.log('error on logout'))
    }
  }
}
</script>
