<template>
  <div class="nav">
    <a-button v-if="this.$store.state.view == 0"
      icon="home"
      type="primary"
      shape="circle"
      href="https://anagabriel.me"
    ></a-button>
    <a-button v-else
      href="/"
      type="primary"
      shape="circle"
      icon="arrow-left"
    ></a-button>
    <Logout/>
  </div>
</template>

<style>
  .nav {
    height: 30px;
    display: flex;
    min-width: 100%;
    min-height: 30px;
    align-items: center;
    background-color: black;
    justify-content: space-between;
  }
  .nav a,
  .nav button {
    width: 65px;
    height: 65px;
    display: flex;
    margin: 0 10px;
    font-size: 40px;
    min-width: 65px;
    min-height: 65px;
    align-items: center;
    justify-content: center;
  }
  .nav a i,
  .nav button i {
    max-height: 40px;
  }
</style>

<script>
  import {
    Vue,
    Component
  } from 'vue-property-decorator'
  import Logout from './Logout.vue'

  @Component({
    components: {
      Logout
    }
  })

  export default class NavBar extends Vue {}
</script>
