<template>
  <a-form
    layout="inline"
    :form="form"
    @submit="handleSubmit"
  >
    <div class='basic'>
      <a-upload
        name="avatar"
        listType="picture-card"
        class="avatar-uploader"
        :showUploadList="false"
        action="//jsonplaceholder.typicode.com/posts/"
        :beforeUpload="beforeUpload"
        @change="handleChange"
      >
        <img v-if="imageUrl" :src="imageUrl" alt="avatar" />
        <div v-else>
          <a-icon :type="loading ? 'loading' : 'plus'" />
          <div class="ant-upload-text">Upload</div>
        </div>
      </a-upload>
      <a-form-item
        class="name"
        :validate-status="fullnameError() ? 'error' : ''"
        :help="fullnameError() || ''"
      >
        <a-input
          v-decorator="[
            'fullname',
            {rules: [{ required: false, message: 'Please, input your name!' }]}
          ]"
          placeholder="name (public)"
        >
          <a-icon
            type="user"
            slot="suffix"
          />
        </a-input>
      </a-form-item>
    </div>
    <a-form-item
      class="not-basic"
      :validate-status="emailError() ? 'error' : ''"
      :help="emailError() || ''"
    >
      <a-input
        v-decorator="[
          'email',
          {rules: [{ required: false, message: 'Please, input your email!' }]}
        ]"
        type="email"
        placeholder="email (public)"
      >
        <a-icon
          type="mail"
          slot="suffix"
        />
      </a-input>
    </a-form-item>
    <a-form-item
      class="not-basic"
      :validate-status="locationError() ? 'error' : ''"
      :help="locationError() || ''"
    >
      <a-input
        v-decorator="[
          'location',
          {rules: [{ required: false, message: 'Please, input your location!' }]}
        ]"
        type="text"
        id="location"
        placeholder="location (public)"
      >
        <a-icon
          type="home"
          slot="suffix"
          theme="twoTone"
          class="location"
          @click="getLocation"
        />
      </a-input>
    </a-form-item>
    <a-form-item
      class="not-basic"
      :validate-status="keywordsError() ? 'error' : ''"
      :help="keywordsError() || ''"
    >
      <a-input
        v-decorator="[
          'keywords',
          {rules: [{ required: false, message: 'Please, input your keywords!' }]}
        ]"
        type="text"
        placeholder="keywords to match you to content + users"
      >
        <a-icon
          type="key"
          slot="suffix"
        />
      </a-input>
    </a-form-item>
    <a-form-item class="not-basic">
      <a-button
        type="primary"
        html-type="submit"
        :disabled="hasErrors(form.getFieldsError())"
      >
        submit
      </a-button>
    </a-form-item>
  </a-form>
</template>

<script>
import { message } from 'ant-design-vue'
function hasErrors (fieldsError) {
  return Object.keys(fieldsError).some(field => fieldsError[field])
}
function getBase64 (img, callback) {
  const reader = new FileReader()
  reader.addEventListener('load', () => callback(reader.result))
  reader.readAsDataURL(img)
}
export default {
  data () {
    return {
      hasErrors,
      imageUrl: '',
      loading: false,
      form: this.$form.createForm(this)
    }
  },
  mounted () {
    this.$nextTick(() => {
      // To disabled submit button at the beginning.
      this.form.validateFields()
    })
  },
  methods: {
    // Only show error after a field is touched.
    fullnameError () {
      const { getFieldError, isFieldTouched } = this.form
      return isFieldTouched('fullname') && getFieldError('fullname')
    },
    emailError () {
      const { getFieldError, isFieldTouched } = this.form
      return isFieldTouched('email') && getFieldError('email')
    },
    locationError () {
      const { getFieldError, isFieldTouched } = this.form
      return isFieldTouched('location') && getFieldError('location')
    },
    keywordsError () {
      const { getFieldError, isFieldTouched } = this.form
      return isFieldTouched('keywords') && getFieldError('keywords')
    },
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (err) {
          return console.log(values)
        } message.warning(
          `api not implemented yet`
        )
        // message.success(
        //   `${this.$store.state.user.id}'s profile saved.`
        // )
      })
    },
    getLocation (e) {
      const loc = document.getElementById('location')
      if (navigator.geolocation) {
        navigator
          .geolocation
          .getCurrentPosition(
            ({ coords } = position) => {
              loc.value = `${
                coords.latitude
              }?${
                coords.longitude
              }`
            }
          )
      } else {
        message.error(
          `Geolocation is not supported by this browser.`
        )
      }
    },
    handleChange (info) {
      if (info.file.status === 'uploading') {
        this.loading = true
        return
      }
      if (info.file.status === 'done') {
        // Get this url from response in real world.
        getBase64(info.file.originFileObj, (imageUrl) => {
          this.imageUrl = imageUrl
          this.loading = false
        })
      }
    },
    beforeUpload (file) {
      const isJPG = file.type === 'image/jpeg'
      if (!isJPG) {
        message.error('You can only upload JPG file!')
      }
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        message.error('Image must smaller than 2MB!')
      }
      return isJPG && isLt2M
    }
  }
}
</script>
