<template>
  <div class="lesson">
    <h1>information</h1>
    <a-button
      size="large"
      class="back"
      type="default"
      shape="circle"
      icon="arrow-left"
    ></a-button>
    <p>
      information about a topic the user has added to their
      keywords. these can be set within the user's profile
      settings under the profile section of the dashboard
    </p>
    <a-button
      size="large"
      class="next"
      type="default"
      shape="circle"
      icon="arrow-right"
    ></a-button>
  </div>
</template>

<style>
div.lesson {
  flex-wrap: wrap;
  font-size: 25px;
  border: 10px black solid;
  border-top: none;
}
div.lesson h1 {
  width: 100%;
  min-width: 100%;
  font-size: 40px;
  max-height: 25%;
  text-align: center;
}
div.lesson p {
  overflow: auto;
  min-height: 70%;
  max-height: 70%;
  text-align: left;
  width: calc(100% - 120px);
  min-width: calc(100% - 120px);
  max-width: calc(100% - 120px);
}
div.lesson .back,
div.lesson .next {
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 35px;
  margin-top: -70px;
  align-items: center;
  justify-content: center;
}
div.lesson .back i,
div.lesson .next i {
  max-height: 35px;
}
div.lesson .back {
  left: -35px;
}
div.lesson .next {
  right: -35px;
}
</style>

<script>
export default {

}
</script>
