<template>
  <div class="texteditor">
    <a-textarea/>
  </div>
</template>

<style>
div.texteditor textarea {
  height: 100%;
  overflow: auto;
  min-height: 100%;
  max-height: 100%;
}
</style>

<script>
export default {

}
</script>
