<template>
  <div id="app">
    <a-layout>
     <a-layout-header>
       <NavBar/>
     </a-layout-header>
     <a-layout-content>
       <router-view/>
     </a-layout-content>
     <a-layout-footer>
       <a href="https://anagabriel.me" target="_blank">
         Ana-Gabriel
       </a> © 2019
     </a-layout-footer>
    </a-layout>
  </div>
</template>

<style>
  #app {
    width: 100vw;
    height: 100vh;
    display: flex;
    min-width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  #app .ant-layout {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  div.ant-layout-header {
    padding: 0;
    height: 70px;
    display: flex;
    line-height: 70px;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  div.ant-layout-content {
    background-color: white;
  }
  div.ant-layout-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  .ant-layout-footer a {
    margin-right: 5px;
  }
</style>

<script>
  import {
    Vue,
    Component
  } from 'vue-property-decorator'
  import NavBar from '@/components/NavBar.vue'

  @Component({
    components: {
      NavBar
    }
  })

  export default class App extends Vue {}
</script>
